@import "tailwindcss";

@theme {
  --font-form-head: "Oswald", sans-serif;
  --font-form-text: "Nunito", sans-serif;
  --font-head: "Odibee Sans", sans-serif;
  --font-body: "Lora", serif;
  --font-post-heading: "Dancing Script", cursive;
  --font-post-body: "EB Garamond", serif;
}
